<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <appSettings>
    <add key="PCI_DSS_Ssl_Thumbprint" value="‎34 2d df b5 23 2f 89 d0 c8 ad f8 9f 80 65 e8 7a 82 27 87 c7"/>
    <add key="PCI_DSS_Ssl_Server" value="localhost:8001"/>
    <add key="PCI_DSS_ServiceUrl" value="https://localhost:8001/Home/File"/>
    <add key="PCI_DSS_ServiceTimeout" value="30"/>
    
  </appSettings>
</configuration>